body {
  background: #eaf6f8;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.sales-report-page {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.report {
  flex: 1;
  box-sizing: border-box;
  width: 85%;
  overflow: hidden;
  margin: 23px 50px 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sales-tabs-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.sales-tabs {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: auto;
}

.tab-dropdown {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  font-size: 13px;
  padding: 11px 11px;
  border: 0.5px solid #EBEBEB;
  border-radius: 6px;
  border-color: black;
  color: #555;
  margin-top: 20px;
}

.tab-dropdown:focus {
  outline: none;
  box-shadow: 0 0 0 2px #0b0b0b55;
}

.export-btn {
  padding: 11px 11px;
  background-color: #4B929D;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  transition: background-color 0.3s;
  width: 130px;
}

.export-btn:hover {
  background: #3a7a85;
}

.salesRep-table-container {
  flex: 1;
}

.sales-total-row {
  margin-top: 1px;
  padding: 16px 20px;
  background: #4B929D;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
}

.period-text {
  background: #4b929d;
  color: #fff;
  font-weight: 700;
  padding: 11px 40px;
  border-radius: 6px;
  font-size: 13px;
  letter-spacing: 0.5px;
  border: 1px solid #e1e5e8;
  transition: all 0.2s ease;
}

.period-text:hover {
  background: #3a7a85;
  transform: translateY(-2px);
}

.totals-right {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.total-cell {
  font-weight: 700;
  color: #f7f7f7;
  background: #4b929d;
  padding: 9px 9px;
  border-radius: 6px;
  border: 1px solid #e1e5e8;
  transition: all 0.2s ease;
}

.total-cell:hover {
  background: #3a7a85;
  transform: translateY(-2px);
}
