body {
    background: #eaf6f8;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.productList {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.productList-container {
    flex: 1;
    box-sizing: border-box;
    width: 85%;
    overflow: hidden; 
    margin-top: 24px;
    margin-left: 10px;
    margin-right: 40px;
    margin-bottom: 30px;
}

.productList-content {
    margin-top: 25px;
}

.productList-tabs {
    display: flex;
    margin-bottom: 15px;
    gap: 10px;
}

.productList-tab {
    padding: 8px 16px;
    background-color: #ffffff;
    color: #666;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s;
    width: 150px;
}

.productList-tab:hover {
    background-color: #f1f1f1;
}

.productList-tab--active {
    background-color: #4B929D;
    color: white;
}

.productList-tab--active:hover {
    background-color: #4B929D;
    color: white;
}

.productList-filterBar {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.productList-filterBar input {
    font-size: 13px;
    padding: 9px 8px;
    border: 0.5px solid #EBEBEB;
    border-radius: 6px;
    flex: 3;
    color: #888;
}

.productList-filterBar input:focus {
    border: none;
    outline: none;
}

.productList-filterBar select {
    flex: 1;
    min-width: 150px;
    max-width: 300px;
    font-size: 13px;
    padding: 9px 8px;
    border: 0.5px solid #EBEBEB;
    border-radius: 6px;
    color: #555; 
}

.productList-filterBar select:focus {
    border: none;
    outline: none;
}

.productList-clearBtn {
    padding: 8px 14px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    transition: background-color 0.3s;
    white-space: nowrap;
    flex-shrink: 0;
    width: 110px;
}

.productList-clearBtn:hover {
    background-color: #c9302c;
}

.productList-addBtn {
    background-color: #007bff;
    color: white;
    padding: 9px 9px;
    gap: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productList-addBtn:hover {
    background-color: #0069d9;
}

.productList-addBtn svg {
    font-size: 12px;
}

.productList-itemInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.productList-itemPhoto {
    width: 90px;
    height: 90px;
    border-radius: 10%;
    object-fit: cover;
}

.productList-itemName {
    font-weight: 600;
}

.productList-tableContainer {
    overflow: auto;
    background-color: #4B929D;
}